<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>HEI COHORT ANALYSIS  SYSTEM</display-name>
    <distributable/>
    <servlet>
        <servlet-name>updatedbpword</servlet-name>
        <servlet-class>db.updatedbpword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>hei.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>districtchooser</servlet-name>
        <servlet-class>hei.districtchooser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadmonths</servlet-name>
        <servlet-class>hei.loadmonths</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadfacils</servlet-name>
        <servlet-class>hei.loadfacils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadmflcodes</servlet-name>
        <servlet-class>hei.loadmflcodes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savedata</servlet-name>
        <servlet-class>hei.savedata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_saved_data</servlet-name>
        <servlet-class>hei.load_saved_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savetarget</servlet-name>
        <servlet-class>hei.savetarget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveClerk</servlet-name>
        <servlet-class>hei.saveClerk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveFacility</servlet-name>
        <servlet-class>hei.saveFacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createfacils</servlet-name>
        <servlet-class>hei.createfacils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_district_idname</servlet-name>
        <servlet-class>hei.load_district_idname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editfacil</servlet-name>
        <servlet-class>hei.editfacil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefacil</servlet-name>
        <servlet-class>hei.deletefacil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_ur_details</servlet-name>
        <servlet-class>hei.save_ur_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedistrictid</servlet-name>
        <servlet-class>db.updatedistrictid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>back_up_tables</servlet-name>
        <servlet-class>db.back_up_tables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editemail</servlet-name>
        <servlet-class>hei.editemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load_dist_county</servlet-name>
        <servlet-class>hei.load_dist_county</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setCountySession</servlet-name>
        <servlet-class>hei.setCountySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setDistrictSession</servlet-name>
        <servlet-class>hei.setDistrictSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setFacilitySession</servlet-name>
        <servlet-class>hei.setFacilitySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadYears</servlet-name>
        <servlet-class>hei.loadYears</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setYearSession</servlet-name>
        <servlet-class>hei.setYearSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadcohorttype</servlet-name>
        <servlet-class>hei.loadcohorttype</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatedbpword</servlet-name>
        <url-pattern>/updatedbpword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>districtchooser</servlet-name>
        <url-pattern>/districtchooser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadmonths</servlet-name>
        <url-pattern>/loadmonths</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadfacils</servlet-name>
        <url-pattern>/loadfacils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadmflcodes</servlet-name>
        <url-pattern>/loadmflcodes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savedata</servlet-name>
        <url-pattern>/savedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_saved_data</servlet-name>
        <url-pattern>/load_saved_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savetarget</servlet-name>
        <url-pattern>/savetarget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveClerk</servlet-name>
        <url-pattern>/saveClerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveFacility</servlet-name>
        <url-pattern>/saveFacility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createfacils</servlet-name>
        <url-pattern>/createfacils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_district_idname</servlet-name>
        <url-pattern>/load_district_idname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editfacil</servlet-name>
        <url-pattern>/editfacil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefacil</servlet-name>
        <url-pattern>/deletefacil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_ur_details</servlet-name>
        <url-pattern>/save_ur_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedistrictid</servlet-name>
        <url-pattern>/updatedistrictid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>back_up_tables</servlet-name>
        <url-pattern>/back_up_tables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editemail</servlet-name>
        <url-pattern>/editemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load_dist_county</servlet-name>
        <url-pattern>/load_dist_county</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setCountySession</servlet-name>
        <url-pattern>/setCountySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setDistrictSession</servlet-name>
        <url-pattern>/setDistrictSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setFacilitySession</servlet-name>
        <url-pattern>/setFacilitySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadYears</servlet-name>
        <url-pattern>/loadYears</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setYearSession</servlet-name>
        <url-pattern>/setYearSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadcohorttype</servlet-name>
        <url-pattern>/loadcohorttype</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>900000</session-timeout>
    </session-config>
</web-app>
